# Sidrena source file.
# Author: Brendigo
# Author URI: https://brendigo.com/
# Plugin URI: https://sidrene-cijene.com.hr/
# Support: sidrena@brendigo.com

.DS_Store
Thumbs.db
*.log
/vendor/
/node_modules/
/build/
/dist/
*.zip
